@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: black;
  font-family: "Helvetica Neue", "Lato", Helvetica, Arial, sans-serif;
}

p {
  margin: 0 0 0 0;
}

form {
  margin-bottom: 0px;
}

.jumbotron {
  margin: 10px;
}

.jumbotron p {
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 20px
}

.postBody {
  display: flex;
  flex-direction: row;
}

.postText {
  white-space: pre-line;
  line-height: normal;
}

.postImage {
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.postImage > img {
  width: 300px;
}

.postNumber {
  cursor: hand;
}

.postTimestamp {
  font-size: 75%;
}

.textarea {
  resize: vertical;
  margin-bottom: 10px;
  line-height: normal;
  padding: 6px 6px;
  font-size: 16px;
  min-size: 50px;
}


.btn {
  margin-right: 10px;
}

@media screen and (min-width: 0px) {
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

.message-box {
  display: inline-block;
  padding: 6px;
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  float: right;
  color: #bbc;
}

.waiting {
  height: 75px;
  line-height: 75px;
  font-size: 21px;
  color: #000;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  animation: fabulous 2s linear infinite;
}

@keyframes fabulous {
    0% { color: #0099ff }
    17% { color: #66ff66 }
    35% { color: #ffff66 }
    51% { color: #ff6666 }
    68% { color: #ff66ff }
    85% { color: #6699ff }
    100% { color: #0099ff }
}

.form-group {
  margin-bottom: 0px;
}

.fileinput {
  display: inline;
}

input[type=file] {
  display: inline;
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}
