body {
  background-color: black;
}

p {
  margin: 0 0 0 0;
}

form {
  margin-bottom: 0px;
}

.jumbotron {
  margin: 10px;
}

.jumbotron p {
  margin-bottom: 0px;
}

.postBody {
  display: flex;
  flex-direction: row;
}

.postText {
  white-space: pre-line;
  line-height: normal;
}

.postImage {
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.postImage > img {
  width: 300px;
}

.postNumber {
  cursor: hand;
}

.postTimestamp {
  font-size: 75%;
}

.textarea {
  resize: vertical;
  margin-bottom: 10px;
  line-height: normal;
  padding: 6px 6px;
}

.btn {
  margin-right: 10px;
}

.form-group {
  margin-bottom: 0px;
}

.fileinput {
  display: inline;
}

input[type=file] {
  display: inline;
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

@media screen and (min-width: 0px) {
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}
